-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- bg_image = @post&.image
- if bg_image&.attached?
  - bg_image_url = url_for @post&.image&.variant(resize_to_limit: [1024,720])
- else
  - bg_image_url = ''

%figure.image.is-vcentered.has-background-grey-lighter#head
  = image_tag bg_image_url
  .columns.slogan-block.is-overlay
    .column.is-half
      .slogan
        .content.has-text-white
          .first-line.has-text-centered
            != @post.title
          - if user_admin?
            = link_to edit_admin_blog_post_path(@post), class: 'button' do
              %span.icon
                %i.fas.fa-user-shield
              %span
                = t('actions.edit')

