-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

-# i18n-tasks-use t('activerecord.attributes.site_setting.value')
= f.label :value
= f.text_field :value

