/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.admin_edit_button {
  position: absolute;
  opacity: 0.6;
}

/* hidden when mouse not hovering the area */
.admin-button {
  display: none;
}

.has-black-border {
  outline: 1px solid black;
}

.admin-edit-area.has-black-border {
  .admin-button {
    display: block;
  }
}
