/**
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 * 
 * SPDX-License-Identifier: AGPL-3.0-or-later
*/

$orange:   #ee7f24;
$bluerple: #482683;

/* Logo colors */
$dark_orange   : #cd5b1c;
$mid_orange    : #d67c1c;
$bright_orange : #e3a51a;
$bluepurple    : #422a80;
