/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/** Bulma overrides: typography */

$family-primary:    "Laksaman";
$family-sans-serif: 'Laksaman';

$weight-normal:   400;
$weight-bold:     700;

$title-color:  $darkgrey;
$title-weight: $weight-normal;

$content-heading-weight: $weight-normal;

