/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.grey_fullwidth {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  //height: 100px;
  margin-top: 100px;
  left: 50%;
  @extend .has-background-verycleargrey;
}

.darkgrey_fullwidth {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  //height: 100px;
  margin-top: 100px;
  left: 50%;
  background-color: #26232A;
  //@extend .has-background-grey;
  font-color: findColorInvert(#26232A);
}

/* 1:1 ratio circle thing */
.doodle-head-wrap {
  display:   flex;
  flex-wrap: wrap;
  flex-grow:    1;
  flex-shrink:  1;
  justify-content: center;

  .doodle-head {
    background-color: white;
    position:   relative;
    margin:     .5em;
    width:      100%;
    max-width:  240px;
    text-align: center;
    border-radius: 50%;
    overflow:   hidden;

    .inside {
      position: absolute;
      top:    10%;
      right:   0;
      bottom:  0;
      left:    0;
      padding: 0.5em;
    }

    box-shadow: 0 0.5em 0.5em -0.1em rgba(10, 10, 10, 0.1);
      //0 0px 0 1px rgba(10, 10, 10, 0.02),
      //inset 0em 0em 0.5em 0em rgba(10, 10, 10, 0.1);
  }

  .doodle-head:before {
    display:   block;
    content:      '';
    margin-top: 100%;
  }
}

