-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t("admin.blog.post.edit")

= render 'form'

%br

= link_to t('Back'), admin_blog_posts_path, class: 'button is-small is-danger'
