-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= render layout: 'admin/shared/edit',
  locals: { edit_title: t('admin.blog.post.edit'),
    back_target: admin_blog_posts_path } do
  = render 'form'

