-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

.container
  .doodle.has-text-centered.pt-6.mb-6
    = image_tag 'kontakt.png', class: 'round'
    %h2.title.is-3.pt-3.has-text-white
      = t('home.contact.title')
