-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- bg_image = SiteSetting.find_by(key: 'intro_background')&.image
- if bg_image&.attached?
  - bg_image_url = url_for SiteSetting.find_by(key: 'intro_background')&.image&.variant(resize_to_limit: [1024,720])
- else
  - bg_image_url = ''

%figure.image.is-vcentered.has-background-grey-lighter#head
  = image_tag bg_image_url
  .columns.slogan-block.is-overlay
    .column.is-half
      .slogan
        .content.has-text-white
          .first-line.has-text-centered
            != SiteSetting['intro']
          -#- slogan_lines = SiteSetting['intro'].split("\n")
          -#- first, *second = slogan_lines
          -#.first-line
          -#  != first
          -#.second-line
          -#  != second.join
          - if user_admin?
            - intro_setting = SiteSetting.find_by(key: 'intro')
            - if intro_setting.present?
              = link_to edit_admin_site_setting_path(intro_setting),
                class: 'button' do
                %span.icon
                  %i.fas.fa-user-shield
                %span
                  = t('sitesetting.edit')

