-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  =t('.edit.title')

= render 'form'

= link_to t('Show'), [:admin, @lesson.style, @lesson]
\|
= link_to t('Back'), admin_course_path(@lesson.style)

