-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= render layout: 'admin/shared/new',
  locals: { new_title: t('admin.courses.new_lesson_for', style: @style.name),
    back_target: courses_path } do
  = render 'form'

