-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%figure.image.is-vcentered.has-background-grey-lighter#head
  = image_tag image_url
  .columns.slogan-block.is-overlay
    .column.is-half
      .slogan
        .content.has-text-white
          .first-line.has-text-centered
            = title
