-# SPDX-FileCopyrightText: 2022 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= render layout: 'admin/shared/new',
  locals: { new_title: t('admin.seminar.new'),
    back_target: admin_seminars_path } do
  = render 'form'

