.box.has-background-info
  .level
    .level-item
      = link_to course do
        %h2.title.is-5
          = course.name
    - if user_admin?
      .level-item-right
        = link_to t('edit'), edit_admin_course_path(course), class: 'button is-primary is-outlined'
.columns.is-multiline
  - course.lessons.each do |lesson|
    .column.is-3
      = render partial: 'shared/video_card', locals: { lesson: lesson }
