-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- set_title(@html_title)

- header_image_setting = SiteSettings.fetch('asana_lexicon_header_image')

- content_for(:hero_head) do
  = render partial: 'shared/hero_head_image_title',
    locals: { image_url: header_image_variant_url(header_image_setting&.image),
      title: t('navigation.asana-lexicon'),
      image_edit_url: edit_admin_site_setting_path(header_image_setting, back_path: request.path) }

.container
  .content.is-medium
    - admin_edit_area(edit_path: admin_asanas_path) do
    
      - @asana_families.each do |family|
        %h2= family.name

        = render partial: 'asana_lexicon_family_table', locals: {family: family}
