-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- set_title(@html_title)

- if defined?(header_image_setting)
  - header_image_setting = SiteSettings.fetch(header_image_setting)
  
  - content_for(:hero_head) do
    = render partial: 'shared/hero_head_image_title',
      locals: { image_url: header_image_variant_url(header_image_setting&.image),
        title: @html_title,
        image_edit_url: edit_admin_site_setting_path(header_image_setting, back_path: request.path) }


- setting = SiteSettings.fetch(site_setting)
.container
  .content.is-medium.has-text-justified{id: setting}
    - admin_edit_area edit_path: edit_admin_site_setting_url(setting.id) do
      != setting.value_rendered
- if user_signed_in? && in_controller_action?(controller: 'pages', action: 'explanation') && !payment_in_process?(current_user)
  = link_to user_payment_declaration_path, method: 'POST', class: 'button is-primary is-pulled-right' do
    = t('user.i_have_paid')
