-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- set_title(@html_title)

.container
  .content.is-medium.has-text-justified
    != content

- if user_admin? && defined?(site_setting)
  - setting = SiteSetting.find_by(key: site_setting)
  - if !setting.nil?
    = link_to edit_admin_site_setting_path(SiteSetting.find_by(key: site_setting)), class: 'button' do
      %span.icon
        %i.fas.fa-user-shield
      %span
        = t('sitesetting.edit')
