-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

- set_title(@html_title)

.container
  .content.is-medium.has-text-justified{id: site_setting}
    - setting = SiteSetting.find_by(key: site_setting)
    - admin_edit_area edit_path: edit_admin_site_setting_url(setting.id) do
      != content

