.container
  .content
    != content

- if user_admin? && defined?(site_setting)
  - setting = SiteSetting.find_by(key: site_setting)
  - if !setting.nil?
    = link_to t('sitesetting.edit'), edit_admin_site_setting_path(SiteSetting.find_by(key: site_setting)), class: 'button'
