-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%p
  = t('admin_mailer.new_registration.new_user_registered')
%p
  %b
    = link_to [:admin, @user] do
      = @user.email

