-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%p
  = t('admin_mailer.user_has_paid.somebody_paid')
%p
  %b
    = link_to [:admin, @user] do
      = @user.email

