-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('courses.title-all')

.columns.is-multiline
  - @courses.each do |course|
    .column.is-3
      .card
        .card-image

        .card-header
          %p.card-header-title.is-centered
            = course.name
        .card-content
          = course.name
          -#Text
        %td= link_to t('Show'), course

