%h1.title
  = t('Listing courses')

.columns.is-multiline
  - @courses.each do |course|
    .column.is-3
      .card
        .card-image

        .card-header
          %p.card-header-title.is-centered
            = course.name
        .card-content
          = course.name
          Text
        %td= link_to t('Show'), course

