-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('settings.site.title')
  = @site_setting.key

= render 'form'

= link_to 'Back', admin_site_settings_path
