-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= render layout: 'admin/shared/edit',
  locals: { edit_title: t('settings.site.title') + ' ' + @site_setting.key,
    back_target: admin_styles_path } do
  .subtitle
    = t('site_settings.' + @site_setting.key + '.help')
  = render 'form'

