-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = @site_setting.key

.subtitle
  = t('site_settings.' + @site_setting.key + '.help')

%hr

.container
  .content
    != @site_setting.value_rendered

%hr

= link_to t('edit'), edit_admin_site_setting_path(@site_setting), class: 'button'
