/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

tr.site_setting_key {
  td {
    border-top-width: 4px;
    border-color: grey-light;
  }
}

.semi-transparent {
  opacity: 40%;
}
