/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * Manifest file that'll be compiled into application.css, which will include
 * all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 *
 *= require_self
 */

@import "laksaman";
@import "direct_upload";

@import "yosis/_base_colors";

/* Customize Bulma Variables */
$family-primary:    "Laksaman";
$family-sans-serif: 'Laksaman';

$weight-normal:   400;
$weight-bold:     700;

$title-color:  $darkgrey;
$title-weight: $weight-normal;

@import 'yosis/_navbar';

$primary: $orange;
$link:    $darkgrey;

$content-heading-color: $bluerple;
$content-heading-weight: $weight-bold;

/* Own customization */
h1, h2 {
  text-transform: uppercase;
}

h3 {
  color: #4a4a4a;
}

.tag, .button, .card {
  transition: transform 500ms ease;
  &:hover {
    transform: scale(1.1);
  }
}

.auto-margin {
  margin: auto;
}

/* Reposition anchors because of navbar */
.anchor-offset {
  display:  block;
  position: relative;
  top:      -7.5em;
  visibility: hidden;
}

.card-image.no-vid {
  figure {
    padding-top: 3em;
  }
  .title {
    padding: 2em;
  }
}

@import "font-awesome-sprockets";
@import "font-awesome";

/* As a test, will lead to e.g. has-backround-verycleargrey . */
$custom-colors: (
  "verycleargrey": ($verycleargrey)
);

@import "bulma";

@import 'yosis/_hero_head';
@import 'yosis/_home_courses';
@import 'yosis/_styles';
@import 'yosis/_button_bar';

@import 'yosis/_admin_button';


