/*
 * SPDX-FileCopyrightText: 2020 Felix Wolfsteller
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * Manifest file that'll be compiled into application.css, which will include
 * all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 *
 *= require_self
 */

@import "yosis/_base_colors";
@import "laksaman";
@import "direct_upload";


/* Customize Bulma Variables */
$family-primary:    "Laksaman";
$family-sans-serif: 'Laksaman';

$weight-light:    200;
$weight-normal:   300;
$weight-medium:   400;
$weight-semibold: 500;
$weight-bold:     600;

$title-color:  $bluerple;
$title-weight: $weight-normal;

@import 'yosis/_navbar';

$primary: $orange;
$link:    $bluerple;

$content-heading-color: $bluerple;
$content-heading-weight: $weight-normal;

/* Own customization */
h1, h2, h3 {
  text-transform: uppercase;
}

.flame-box {
  background-image: linear-gradient(90deg, #ffffff -0%, $orange 90%, $orange 150%);
}

.box.flame-box {
  padding: 0.9em;
  h3 {
    font-weight: 400;
  }
}

.flame-box.unpadded-tbr {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.navbar {
  .logo {
    height: 5.75rem;
  }
}

#hero-section {
  background-color: #fdfaf4;;
  padding-top:   1.25em;
  padding-left:  1em;
  padding-right: 1em;
}

.tag, .button, .card {
  transition: transform 500ms ease;
  &:hover {
    transform: scale(1.1);
  }
}

.auto-margin {
  margin: auto;
}

/* Reposition anchors because of navbar */
.anchor-offset {
  display:  block;
  position: relative;
  top:      -7.5em;
  visibility: hidden;
}

.card-image.no-vid {
  figure {
    padding-top: 3em;
  }
  .title {
    padding: 2em;
  }
}

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bulma";

@import 'yosis/_hero_head';
@import 'yosis/_home_courses';


