-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

%h1.title
  = t('admin.courses.edit')

= render 'form'

= link_to t('Show'), [:admin, @course]
\|
= link_to ('Back'), admin_courses_path
