-# SPDX-FileCopyrightText: 2020 Felix Wolfsteller
-#
-# SPDX-License-Identifier: AGPL-3.0-or-later

= render layout: 'layouts/application' do

  .columns.is-centered
    - if ! ['confirmations', 'passwords'].include? controller_name
      .column.is-4
        .box.content
          - if controller_name == 'registrations'
            != SiteSetting['explanation_trial']
          - else
            != SiteSetting['explanation_login']

    .column.is-6
      .box
        = yield
